
div { 
	font-family:"Reader Regular", Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	font-size-adjust:0.53; 
	font-weight:normal; 
	font-style:normal; 
}

div { 
	font-family:"Reader Bold", Arial, 'Helvetica Neue', Helvetica, sans-serif; 
	font-size-adjust:0.53; 
	font-weight:bold; 
	font-style:normal; 
}

body{
	font-family: "Reader Regular", Helvetica, sans-serif;
 	font-weight: normal;
  	font-size: 1em;
  	line-height: 1.5em;
  	color: #fff;
  	background: #111;
  	text-rendering: optimizeLegibility;
}

a{
	text-decoration: none;
    color: #fff; 
    border-bottom: 2px solid white;
}

a:hover{
  	color: #fff;
  	border-bottom: none;
}

h1{
	text-transform: uppercase; 
  	font-weight: bold; 
/*	letter-spacing: 3px;*/
	font-family:"Reader Bold", Helvetica, 'Helvetica Neue', Arial, sans-serif; 
	font-size-adjust:0.53; 
	font-style:normal;
	font-size: 1.3em;
	letter-spacing: .25em;
}

.container{
	margin: 5%;
}