---
layout: default
title: Writing
permalink: /writing/
---

<section class="center w-90-ns w-70-ns w-90-xl mw8 mw9-xl mt4 mh4 mv5-ns f6 f3-ns f2-xl">

  <!-- {% include intro.html %} -->

  <p class="lh-copy pl2">Writing<span class="serif">:</span></p>
  <p class="lh-copy pl5">On works<span class="serif">,</span> process<span class="serif">,</span> and other movements<span class="serif">.</span></p>
  <p class="lh-copy pl7">2016 — Ongoing</p>

  <ul class="lh-copy pl2 w-50-ns mb6 pb5" id="post-list">
    <li class="list"> {% for post in site.posts %}
      <a class="db black-50 link hover-black f3" href='{{ post.url }}'>
        <p class="mb0 serif stretch">{{ post.title }}</p>
        <aside class="f6 mt0">{{ post.date | date: "%-d %B %Y" }}</aside>
        <p class="lh-copy">{{ post.headline }}</p>
      </a>
    </li> {% endfor %}
  </ul>

  {% include header.html %}

</section>
