---
layout: info
title: Édouard Urcades
permalink: /
---

<section class="center w-70 mw8 ma4 mv5-ns f3">

  <p class="lh-copy pl2">Ed is a <a href="http://ux.edouard.us/" class="black-60 link hover-black">physical–digital product designer</a>, né <a href="http://id.edouard.us/" class="black-60 link hover-black">industrial designer</a>.</p>
  <p class="lh-copy pl2 measure">Interests include: Product Design, Systems Design, Organizational Design, Mass Manufacture, and other Large and Wicked projects.</p>

  <p class="lh-copy pl2 black-20">Currently ⤵︎</p>
  <ol class="lh-copy pl2">
    <li>Building new modes of communication at <a href="https://www.tumblr.com/" class="black-40 link hover-black">Tumblr</a></li>
    <li>Open for biz at <a href="http://mornings.co/" class="black-40 link hover-black">Mornings</a></li>
    <li>Cultivating a meta–organization, <a href="http://learning-gardens.co/" class="black-40 link hover-black">Learning Gardens</a></li>
  </ol>

  <p class="lh-copy pl2 black-20">Previously ⤵︎</p>
  <ol start="4" class="lh-copy measure pl2">
    <li>Built hyper-complex B<span class="athelas">2</span>B software and started a popular intra-net radio station with friends at <a href="http://www.ibm.com/design/" class="black-40 link hover-black">International Business Machines</a></li>
  </ol>
  <p class="lh-copy pl2">If you'd like, <a href="mailto:mail@edouard.us" class="black-40 link hover-black">send a letter</a> and/or <a href="https://twitter.com/edouerd" class="black-40 link hover-black">@ me</a>. Thanks for visiting, stay a while.</p>

  <!-- <p class="lh-copy pl2 black-10">Summaries ⤵︎</p>
  <section class="pb5 dib">
  {% for feature in site.data.features %}
    <div class="w-33-l pr4 fl-l mt0 cf-4th p-fix black-10 link hover-black">
      <p class="pl2">{{ feature.name }}</p>
      <p class="lh-copy pl2">{{ feature.description }}</p>
    </div>
  {% endfor %} -->
  {% include header-index.html %}
</section>
