title: Smart Design
thumbnail: /static/images/smart/smart-thumbnail.png
tags: Experience
date: 20-01-2015

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/smart/smart-nycmodel.gif' %}"/>

### tl;dr

If you're not keen to hear me wax on about New York's siren call and my introductory experiences to Real Design Work, here's a brief listing of products and experiences I've built/contributed to while working at Smart Design.

1. [OXO — Angled Baster](http://www.oxo.com/p-1401-angled-baster-with-cleaning-brush.aspx)
2. [OXO — Delicate Duster](http://www.oxo.com/p-1341-microfiber-delicate-duster.aspx)
3. [OXO — 2-in-1 Salad Servers](http://www.oxo.com/p-1445-2-in-1-salad-servers.aspx)
4. Shift — A [zine](http://issuu.com/edouardurcadez/docs/zine_r4_-_unknown), event, [blog](http://fivestori-es.tumblr.com/tagged/edouard/page/8), and website collaboration between friends.

—

### introduction

If you inspect the image above very carefully, you might recognize a piece of New York City that I had grown very close with in the summer of 2012.

What you see above is my after-the-fact rendition of Ludlow and Delancy streets, in the Lower East Side.

<img src="{% static '/images/smart/smart-office.png' %}"/>

{% endfilter %}
{% endblock body %}
