title: Virtual Studio
thumbnail: /static/images/th-vs.png
tags: Project
date: 27-10-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

“Virtual Studio”

What do you think of when you hear/say this phrase?

<img src="{% static '/images/vs/vs-1.png' %}"/>

What does it mean?

It couldn't be this, right?

<img src="{% static '/images/vs/vs-2.png' %}"/>

### Intro

The Virtual Studio project was seen as a possible solution to a situation that IBM had been dealing with for a long time — how can remote collaboration and levelsetting on projects be made better?

Most people at IBM will tell you straight up that our communication and collaboration platforms are leaving much to be desired (until [this](https://www.ibm.com/social-business/us/en/newway/) arrives, that is.). The archival and retreival of crucial project artifacts and documentation as of early 2015 is as rough around the edges as it can get.

For example, here's a nice error one might frequently run into while receiving build-system email:

<img src="{% static '/images/vs/vs-3.png' %}"/>

Not pretty, is it?

Now check out this slide I made:

<img src="{% static '/images/vs/vs-4.jpg' %}"/>

What we're seeing here is a shorthand visualization of the problem at hand — designers, product managers, and developers are all scrambling to get work done in a way that suits each specialty best, all on platforms and tooling that muddle up various mediums in a not-so-great way.

In a company of just under 400,000 people, systems that attempt to offer a 'universal truth' in the form of tooling and knowledge-sharing are bound to fall short.

That's where we come in!

### Approach

Outside of IBM, the world of consumer productivity tools is an incredibly rich place. No matter what work you find yourself doing or what medium you utilize to best engage with your work, there's most likely a solution for you, the individual.

When the scale of productivity tooling is increased to cover the use cases of dozens, hundreds, or thousands of people, issues begin to crop up, primarily due to the varying means of organizing information people come up with.

For the Virtual Studio project team, our utmost priority in the beginning was to figure out how people worked together on complex projects.

<img src="{% static '/images/vs/vs-5.jpg' %}"/>

One of the simplest means of gathering qualitative data quickly was to start in our own studio.

<img src="{% static '/images/vs/vs-6.jpg' %}"/>

My colleague Eunice placed four large posters around our studio with open prompts. The idea was to generate a conversation regarding the various topics.

<img src="{% static '/images/vs/vs-7.jpg' %}"/>

The prompts were kept up for about a week before we took them down to synthesize the information.

<img src="{% static '/images/vs/vs-8.jpg' %}"/>

The idea was to gather up the insights from the various prompts and begin to craft a user experience mapping of the general sentiment of our own studio to inspire our design work. Later on, we realized that in order to gain a better sense of the working environment at hand, we needed to reach out to the remote population that we constantly worked with.

<img src="{% static '/images/vs/vs-9.jpg' %}"/>

Above are the initial stabs at affinity mapping the various sentiments recorded with our prompts.

—

While research was unfolding, I set to work on developing prototypes inspired by previous blue sky brainstorming that had occured earlier:

<img src="{% static '/images/vs/vs-10.png' %}"/>

I developed a means of [viewing and chatting with teams](http://labs.edouard.us/prototyping/Framer/Teams.framer/index.html), as well as a [means of active mobile collaboration](http://labs.edouard.us/prototyping/Framer/Stickies.framer/index.html).

{% endfilter %}
{% endblock body %}
