<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title><%= @board ? 'Edit' : 'Add' %> board</title>
</head>
<body>
<div id="content">
<% if @board %>
<h2>Edit board</h2>
<ul id="nav">
<li><a href="/manage/boards/delete/<%= @board.id %>">Delete</a></li>
</ul>
<% else %>
<h2>Add board</h2>
<% end %>
<form action="<%= request.path_info %>" method="post">
  <table>
    <tr>
      <th><label for="slug">Slug</label></th>
      <td><input id="slug" type="text" name="slug" required="required" value="<%= @board.slug if @board %>"></td>
     </tr>
    <tr>
      <th><label for="title">Title</label></th>
      <td><input id="title" type="text" name="title" required="required" value="<%= @board.title if @board %>"></td>
    </tr>
    <tr>
      <th><label for="status">Status</label></th>
      <td><select id="status" name="status" size="1">
    <% Board::Status.constants.each do |c| status = Board::Status.const_get(c) %>
    <option <%= 'selected="selected" ' if @board && (@board.status == status) %>value="<%= status %>">
      <%= t.boardstatus[c] %>
    </option>
    <% end %>
  </select></td>
    </tr>
  </table>
  <h4>Options</h4>
  <table>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  <% @board.options.each do |k,v| %>
    <tr>
      <td><input type="text" name="optkeys[]" value="<%= md.escape_html(k) %>"></td>
      <td><input type="text" name="optvals[]" value="<%= v.kind_of?(String) ? md.escape_html(v) : v %>"></td>
    </tr>
  <% end if @board && @board.options %>
    <tr>
      <td><input type="text" name="optkeys[]" value=""></td>
      <td><input type="text" name="optvals[]" value=""></td>
    </tr>
  </table>
  <button type="submit">Save &raquo;</button>
</form>
</div>
</body>
</html>
