<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Add user</title>
</head>
<body>
<div id="content">
<h2>Add user</h2>
<form action="<%= request.path_info %>" method="post">
<table>
  <tr>
    <th><label for="email">Email</label></th>
    <td><input id="email" type="text" name="email" required="required" value=""></td>
  </tr>
  <tr>
    <th><label>Level</label></th>
    <td><select name="level" size="1">
    <% User::Level.constants.each do |c|
    level = User::Level.const_get(c) %>
    <option value="<%= level %>">
      <%= t.userlevel[c] %>
    </option>
    <% end %>
    </select></td>
  </tr>
</table>
<button type="submit">Save &raquo;</button>
</form>
</div>
</body>
</html>
