<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Edit profile</title>
</head>
<body>
<div id="content">
<h2>Edit profile</h2>
<form action="<%= request.path_info %>" method="post">
  <table>
    <tr>
      <th><label for="email">Email</label></th>
      <td><input id="email" type="text" name="email" required="required" value="<%= @user.email %>"></td>
    </tr>
  </table>
  <h4>Password change</h4>
  <table>
    <tr>
      <th><label for="old_password">Old password</label></th>
      <td><input id="old_password" type="password" name="old_password" value=""></td>
    </tr>
    <tr>
      <th><label for="new_passwd">New password</label></th>
      <td><input id="new_passwd" type="password" name="new_passwd" value=""></td>
    </tr>
    <tr>
      <th><label for="confirm_passwd">Confirm</label></th>
      <td><input id="confirm_passwd" type="password" name="confirm_passwd" value=""></td>
    </tr>
  </table>
  <button type="submit">Save &raquo;</button>
</form>
</div>
</body>
</html>
