<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Edit user</title>
</head>
<body>
<div id="content">
<ul id="nav">
  <li><a href="/manage/users/delete/<%= @target.id %>">Delete</a></li>
  <li><a href="/manage/users/reset/<%= @target.id %>">Reset password</a></li>
</ul>
<h2>Edit user</h2>
<h4><%= @target.email %></h4>
<form action="<%= request.path_info %>" method="post">
<table>
  <tr>
    <th><label>Level</label></th>
    <td><select name="level" size="1">
    <% User::Level.constants.each do |c|
    level = User::Level.const_get(c) %>
    <option <%= 'selected="selected" ' if @target.level == level %>value="<%= level %>">
      <%= t.userlevel[c] %>
    </option>
    <% end %>
    </select></td>
  </tr>
</table>
<button type="submit">Save &raquo;</button>
</form>
</div>
</body>
</html>
