<h3><%= @topic ? 'Reply' : 'New thread' %></h3>
<form id="postForm" action="/post" method="post">
  <label style="display:none" id="emailField"><%= t.honeypot %><input type="text" name="email" value=""></label>
  <table>
    <tr>
      <th><label for="authorField">Name</label></th>
      <td><input type="text" maxlength="<%= settings.author_length %>" id="authorField" name="author" value=""><% if @topic %><label><input type="checkbox" name="sage" value="1">sage</label><input type="hidden" name="topic_num" value="<%= @topic.num %>"><% end %><label id="authed"><input type="checkbox" name="authpost" value="1">authed</label><label id="allow_html"><input type="checkbox" name="allow_html" value="1">allow html</label></td>
    </tr>
    <% unless @topic %>
    <tr>
      <th><label for="titleField">Title</label></th>
      <td><input type="text" maxlength="<%= settings.title_length %>" id="titleField" name="title" value="" required="required"></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2"><label>Comment<textarea id="commentField" name="comment" rows="5" cols="60" required="required"></textarea></label></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Submit &raquo;</button><label><input type="checkbox" name="nomd" value="1">no markup<sup><a href="/manage/help/#markup" target="_blank">?</a></sup></label><label><input type="checkbox" name="aa" value="1">ascii art</label></td>
    </tr>
  </table>
  <input type="hidden" name="board_id" value="<%= @board.id %>">
</form>