<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= erb :assets %>
  <title>Help</title>
</head>
<body>
<div id="content">
<nav>
<ul id="nav">
  <li><a href="/" title="">Index</a></li>
</ul>
</nav>
<h1>Help</h1>
<h2>Markup</h2>
<p>Text formatting is done using custom flavoured <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> syntax.</p>
<h3>Inline elements</h3>
<ul>
  <li>*emphasis*</li>
  <li>**bold**</li>
  <li>***bold emphasis***</li>
  <li>--strikethrough--</li>
  <li>__underline__</li>
  <li>$$spoiler$$</li>
  <li>`code`</li>
</ul>
<h3>Block elements</h3>
<h4>Lists</h4>
<pre><code>- one
- two
- three
</code></pre>
<p>Also works with <code>*</code> and <code>+</code> markers. Ordered lists are also supported.</p>
<h4>Blockquotes</h4>
<pre><code>&gt; Who the hell
am I quoting?
</code></pre>
<p>Note the the space after the <code>></code></p>
<h4>Fenced code</h4>
<pre><code>~~~
function make_american($com) {
  if (stripos($com, "america")!==FALSE) return $com; //already american
 
  $com = rtrim($com);
  $end = '!';
 
  if ($com == "") return $com;

  if (preg_match("/([.!?])$/", $com, $matches)) {$end = $matches[1]; $com = substr($com, 0, -1);}
 
  $com .= " IN AMERICA".$end;
 
  return $com;
}
~~~</code></pre>
<p>Also works with <code>```</code> markers. Syntax is highlighted depending on the board.</p>
<h4>Empty lines separate block elements</h4>
<p>To break out of a blockquote:</p>
<pre><code>&gt; This is a blockquote.
this is still the same blockquote.

This is no longer a blockquote but a new paragraph.
</code></pre>
<p>Same for lists and other block elements:</p>
<pre><code>This is a **paragraph** with __some__ markup in it.
- Still inside the paragraph...
- This <b>will not</b> turn into a list

- But this
- will
</code></pre>
<p>...and post quoting, this doesn't work for example:</p>
<pre><code>>>5
~~~
  This won't turn into a fenced code block
  because we are already in a block context
  started by the quote '>>>5'
~~~
</code></pre>
<p>this works:</p>
<pre><code>>>5

~~~
  Adding an empty line exits the block context,
  this will be converted to a fenced code block
~~~
</code></pre>
</div>
<%= erb :footer %>
</body>
</html>
