//
// Super High-Level Styling, basically body/root
//

// for debugging :)
// * { outline: 1px solid $blue; }

html,
body {

	min-height:100%;
	background-color: $white;
}

body {
	font: 20px/1.5 "Neue Haas Unica W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $black90;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	letter-spacing: .01em;
	position: relative;
	@media screen and (max-width:440px) {
		font: 15px/1 "Neue Haas Unica W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

#wrapper {
	padding: 1em 2em 2em 2em;
	max-width: 1000px;
	margin: 0px auto;
	line-height: 1.4;
	&.post {
		max-width:1000px;
	}
	@media screen and (max-width: 540px) {
		padding: 40px 40px;
	}
	@media screen and (max-width:440px) {
		padding: 40px .5em 40px .5em;
	}
}