//
// Footer
//

footer {
	max-width: 920px;
	height: 6em;
	margin: 0 auto;
	padding: 0em 0;
	@media screen and (max-width:440px) {
		margin: 0 .5em;
	}
}

.prev a,
.next a {
	text-decoration: none;
}