//
// Header, Navigation
//

nav {
	max-width: 920px;
	height: 6em;
	margin: 0 auto;
	padding: 2em 0;
	border-bottom: 1px solid $black10;
	@media screen and (max-width:440px) {
		margin: 0 .5em;
	}
	a {
		&#title {
			float: left;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
		&#titleright {
			float: right;
			color: $red-soft;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
	}
}

header {
	background: white;
	z-index: 9999;
	top: -4em;
    left: 0em;
    height: 3em;
    width: 100%;
    position: fixed;
    padding: .75em 1em;
	border-bottom: 1px solid $black10;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    a {
		&#title {
			padding-right: 2em;
			float: left;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
		&#titleright {
			float: right;
			color: $red-soft;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
		&#outbound {
			padding-right: 1em;
			@media screen and (max-width:440px) {
				font-size: 15px;
				line-height: 1.35;
			}
		}
	}
}

.summoned {
	top: 0;
}