<p class="lh-copy pl4 pl7-ns">Currently<span class="serif">:</span></p>

<ol class="lh-copy pl2">
  <li>Building new modes of communication at <a href="https://www.tumblr.com/" target="_blank" class="black link hover-blue">Tumblr</a></li>
  <!-- <li>Open for biz at <a href="http://mornings.co/" target="_blank" class="black link hover-red">Mornings</a></li> -->
  <li>Cultivating a meta–organization<span class="serif">,</span> <a href="http://learning-gardens.co/" target="_blank" class="black link hover-green">Learning Gardens</a></li>
</ol>
