//
// Global Variables
// "Damn son"
//

// Units & Sizing

// Neutrals
$white: #FFFFFF;
$pink-soft: #FFFFFF;
$pink-softer: #FAF3F0;
$black: #231E1E;
$black90: rgba($black, .9);
$black30: rgba($black, .3);

// Color
$blue: #0066FF;
$red: #FF4621;
$green: #64E178;
$yellow: #FAE164;