/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

.str, .atv, .lit { color: #666; }  /* string content, a markup attribute value, * a literal value  */
.kwd { color: #006699;}  /* a keyword */
.com { color: #d33535; }  /* a comment */
.typ { color: #21439c }  /* a type name */
.pun, .opn, .clo { color: #7a7a7a; } /* punctuation, lisp open bracket, lisp close bracket */
.tag { color: #016cff }  /* a markup tag name */
.atn { color: #963dff; }  /* a markup attribute name */
.dec, .var { color: #0053ff; }  /* a declaration; a variable name */
.fun { color: #21439c; }  /* a function name */
