<!--
Header Navigation

Hi! This is the
-->

<section class="fl w-100">
  <div class="fl w-100 w-50-m w-25-l pa3-m pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      Learning Gardens is a meta-organization to support grassroots non-institutional learning, exploration, and community-building.<br><br>
      At its simplest, it is advice on how to start a reading group. At its most complex, you and your friends can achieve nirvana.
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa3-m pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      <!-- <a class="link" href="https://lg-slack-automate.herokuapp.com/">Join our slack</a><br> -->
      <a class="link dim blue" href="{% url '/info.html' %}">Learn more</a><br>
      <a class="link dim blue" href="{% url '/join.html' %}">Join our slack</a><br>
      <a class="link dim blue" href="https://github.com/learning-gardens" target="_blank">Visit our github</a><br>
      <!-- <a class="link dim blue" href="support.html">Support Learning Gardens</a><br> -->
      <a class="link dim blue" href="mailto:hello@learning-gardens.co">Send us a message</a><br>
    </p>
  </div>
  <div class="fl w-100 w-50-m w-25-l pa3-m pv2-l ph4-l"></div>
  <div class="fl w-100 w-50-m w-25-l pa3-m pv2-l ph4-l">
    <p class="f4 lh-copy measure">
      “Étudiants sans Frontières”
    </p>
  </div>
</section>
