<section class="fl w-100" id="wrapper">
  <h2 class="lh-title normal pt5 pb4 ph4 f4 mt0">Short reads:</h2>

  <ul class="w-100 w-50-l pa3-m pv1-l ph4-l mb1 mb1-l" id="post-list">
  	{% for post in posts %}
  	<li class="list">
  		<a class="link black-50" href='/{{ post.path }}'>
        <aside class="dates mt4">{{ post.date|date:"M j" }}</aside>
      </a>
  		<a class="link black f4" href='/{{ post.path }}'>{{ post.title }}
        <h2 class="lh-title normal black-50 f6  mt0">{{ post.headline }}</h2>
      </a>
  	</li>
  	{% endfor %}
  </ul>

  <!--- Uncomment for link to archive.
  {% if posts|length >= 4 %}
  <footer id="post-list-footer">
    <a id="archive-link" href="archive.html"> <span class="arrow">&larr;</span> Archive</a>
  </footer>
  {% endif %}
  --->
</section>
